.container {
  width: 100%;
  height: auto;
  .headerContainer {
    width: 100%;
    height: auto;

    .topBar {
      background-color: rgba(233, 124, 57, 1);
      width: 100%;
      max-height: 40px;
    }
    .hearder {
      max-width: 970px;
      height: 100px;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu {
        ul {
          list-style-type: none;
          display: flex;
          li {
            // padding: 0px 15px;
            a {
              display: block;
              font-size: 15px;
              font-weight: 700;
              position: relative;
              padding: 13px 25px;
              cursor: pointer;
              letter-spacing: 0.4px;
              color: #222222;
            }
            &:last-child {
              a {
                padding-right: 0px;
              }
            }
          }
        }
      }
    }
  }
  .contentPage {
  }
}
.topBarMain {
  max-width: 970px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .topBarLink {
    width: 50%;
    height: 100%;
    ul {
      list-style-type: none;
      text-align: left;
      padding-inline-start: 0px;
      margin: 7px 0px;
      li {
        list-style: none;
        display: inline-table;

        a {
          position: relative;
          padding: 0 15px;
          line-height: 16px;
          font-size: 14px;
          border-right: 1px solid rgba(255, 255, 255, 0.4);
          margin: 5px 0;
          letter-spacing: 0.4px;
          color: #ffffff;
          font-weight: 400;
          &:hover {
            color: #333;
          }
        }
        &:first-child {
          a {
            padding-left: 0px;
          }
        }
        &:last-child {
          a {
            border-right: none;
          }
        }
      }
    }
  }
  .TopBarInfo {
    width: 50%;
    height: 100%;
    ul {
      list-style-type: none;
      text-align: right;
      padding-inline-start: 0px;
      margin: 7px 0px;
      li {
        list-style: none;
        display: inline-table;
        padding: 0px 15px;
        cursor: pointer;
        &:first-child {
          border-right: 1px solid rgba(255, 255, 255, 0.4);
        }
        &:last-child {
          padding-right: 0px;
        }
      }
    }
    .cart {
      position: relative;
      width: 20px;
      height: 20px;
      .containerCart {
        position: absolute;
        right: 0;
        background-color: #a5dc86;
        width: 400px;
        min-height: 100px;
        max-height: 300px;
        overflow-x: auto;
        height: auto;
        z-index: 999;
        border-radius: 5px;
      }
    }
  }
}
.cartContainer {
  width: 100%;
  height: 100%;
  .itemCart {
    width: 100%;
    display: flex;
    height: 80px;
    padding: 10px;
    flex-wrap: nowrap;
    .img {
      width: 30%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .info {
      width: 40%;
      height: 100%;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      .name,
      .price {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .name {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
    .react {
      width: 30%;
      height: 100%;
    }
  }
}
